.formulario {
    padding-top: 50px;
    padding-bottom: 20px;
    border: none;

    h1 {
        font: {
            size: 30px;
        weight: 600;
    }
        background-color: rgb(255, 196, 0);
        display: inline;

}
}


.col input {
    border-bottom: 3px solid rgb(255, 196, 0);
    background: transparent;
}

.form-select {
    border-bottom: 3px solid rgb(255, 196, 0);
    background: transparent;
}

.row {
    width: 50%;
    flex-direction: column;
    width: 100%;

    h2 {
        font-size: 16px;
        margin: 5px 0px;
    }
}

.carousel-item img {
    height: 500px;
    object-fit: cover;
}



@media screen and (max-width: 768px) {
    .formulario h1 {
        font-size: 20px;
      }

    }

