body{
    background-color: rgb(169, 169, 165);
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-toggler-icon {
    background-color: map-get($colores , "color-principal" );
    border: solid black 1px;
}
a.nav-link {
    color: map-get($colores , "color-principal" );
}
.offcanvas-body {
    background-color: rgb(176, 176, 177);
}
.offcanvas-header {
    background-color: rgb(176, 176, 177);
}

footer {
    text-align: center;
    width: 100%;
    margin-bottom: 0%;
    padding: 15px;
}
footer a:visited, footer a:link, footer a{
    color: rgba(240,248, 255, 0);
}
footer a img {
    width: 50px;
    padding-left: 20px;

}
.footer1 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: rgba(240, 248, 255, 0.473);
}

