
$colores: (
    color-principal: rgb(255, 196, 0),
    color-secundario: black 
);

@mixin mediaQuery ($pantalla) {
    @if $pantalla == 'mobile' {
        @media screen and (max-width: 320px) {
            @content
        }
    }   
};
@if $pantalla == 'tablet' {
    @media screen and (max-width: 720px) {
        @content
    }
}
